[submodule "manager"]
	path = manager
	url = https://github.com/ufcg-lsd/asperathos-manager
[submodule "controller"]
	path = controller
	url = https://github.com/ufcg-lsd/asperathos-controller
[submodule "monitor"]
	path = monitor
	url = https://github.com/ufcg-lsd/asperathos-monitor
